In [13]:
#reading dataset 1806269
import pandas as pd
import numpy as np
dat=pd.read_csv("/content/1806269.csv")
data=pd.DataFrame(dat)
data

      business_code cust_number  ...    invoice_id isOpen
0              U001  0200780383  ...  1.929861e+09      0
1              U001  0200762301  ...  1.929789e+09      0
2              U001  0200769623  ...  1.930488e+09      0
3              U001   100053926  ...  1.929519e+09      0
4              U001  0200739534  ...  1.929456e+09      0
...             ...         ...  ...           ...    ...
49995          U001  0200769623  ...  1.930833e+09      1
49996          U001  0200353024  ...  1.930818e+09      1
49997          U001  0200126819  ...  1.930784e+09      1
49998          U001  0200769623  ...  1.930716e+09      1
49999          U001  0200769623  ...  1.930753e+09      1

[50000 rows x 19 columns]

In [14]:
data.shape

(50000, 19)

In [15]:
len(pd.unique(data['posting_id'])) #constant

1

In [ ]:
data.drop(columns=['posting_id'],inplace=True)#since constant column will not contribute so drop

In [18]:
#checking how many columns of the dataset have mean of null values to preprocess
for i in data.columns:
  print(i," ",data[i].isnull().mean())

business_code   0.0
cust_number   0.0
name_customer   0.0
clear_date   0.09058
buisness_year   0.0
doc_id   0.0
posting_date   0.0
document_create_date   0.0
document_create_date.1   0.0
due_in_date   0.0
invoice_currency   0.0
document type   0.0
area_business   1.0
total_open_amount   0.0
baseline_create_date   0.0
cust_payment_terms   0.0
invoice_id   0.00014
isOpen   0.0

In [19]:
#area_business have all null values so drop
data.drop(['area_business'],axis=1,inplace=True)

In [20]:
#invoice have some values null
data['invoice_id'].isnull().sum()

7

In [21]:
data.loc[data['invoice_id'].isnull()]#null values are not useful so drop

      business_code cust_number  ... invoice_id isOpen
5394           CA02  0140104409  ...        NaN      0
7414           CA02  0140104409  ...        NaN      0
18815          CA02  0140106054  ...        NaN      0
21149          CA02  0140104409  ...        NaN      0
23617          CA02  0140106379  ...        NaN      0
26468          CA02  0100030194  ...        NaN      0
36789          CA02  0100030194  ...        NaN      0

[7 rows x 17 columns]

In [22]:
#drop 5 invoice having null values
data = data.dropna(axis=0, subset=['invoice_id'])

In [23]:
data['invoice_id'].isnull().sum()
#once again checking no of null values in invoice id

0

In [24]:
for i in data.columns:
  print(i)

business_code
cust_number
name_customer
clear_date
buisness_year
doc_id
posting_date
document_create_date
document_create_date.1
due_in_date
invoice_currency
document type
total_open_amount
baseline_create_date
cust_payment_terms
invoice_id
isOpen

In [25]:
#no duplicate rows
data.duplicated().sum()

0

In [26]:
#checking duplicate columns:
data_t = data.T
data_t.duplicated().sum()

1

In [27]:
#displaying duplicated column
data_t[data_t.duplicated()]

                  0            1      ...        49998        49999
invoice_id  1.92986e+09  1.92979e+09  ...  1.93072e+09  1.93075e+09

[1 rows x 49993 columns]

In [28]:
#no of rows before removing duplicated columns is 17
dt=data_t.T
dt.shape

(49993, 17)

In [29]:

#after removing duplicate column, 16 columns
data_unique = data_t.drop_duplicates(keep='first').T
data_unique.shape

(49993, 16)

In [30]:
#once again checking duplicated rows(of the transpose)
data_uni=data_unique.T
data_uni.duplicated().sum()

0

In [31]:
data_unique

      business_code cust_number  ... cust_payment_terms isOpen
0              U001  0200780383  ...               NAA8      0
1              U001  0200762301  ...               NAC6      0
2              U001  0200769623  ...               NAH4      0
3              U001   100053926  ...               NAVQ      0
4              U001  0200739534  ...               NAA8      0
...             ...         ...  ...                ...    ...
49995          U001  0200769623  ...               NAH4      1
49996          U001  0200353024  ...               NAM4      1
49997          U001  0200126819  ...               NAA8      1
49998          U001  0200769623  ...               NAH4      1
49999          U001  0200769623  ...               NAH4      1

[49993 rows x 16 columns]

In [32]:
#document type is constant
len(pd.unique(data_unique['document type']))

1

In [33]:
#drop cons column
data_unique.drop(columns=['document type'],inplace=True)

In [34]:
data_unique.groupby(['buisness_year'])['buisness_year'].agg({'count'})

               count
buisness_year
2019.0         39470
2020.0         10523

In [35]:
data_unique.shape

(49993, 15)

In [36]:
#converting to datetime format
data_unique['document_create_date']=pd.to_datetime(data_unique['document_create_date'].astype(int).astype(str))
data_unique['clear_date']= pd.to_datetime(data_unique['clear_date'])
data_unique['due_in_date']= pd.to_datetime(data_unique['due_in_date'].astype(int).astype(str))
data_unique['document_create_date.1']= pd.to_datetime(data_unique['document_create_date.1'].astype(int).astype(str))
data_unique['posting_date']= pd.to_datetime(data_unique['posting_date'])
data_unique['baseline_create_date']= pd.to_datetime(data_unique['baseline_create_date'].astype(int).astype(str))

In [37]:
############splitting into test set and big dataset based on clear date##########3

In [38]:
#divide test set 
test_data=data_unique[data_unique.clear_date.isnull()].reset_index(drop=True)
test_data

     business_code cust_number  ... cust_payment_terms isOpen
0             U001  0200772670  ...               NAU5      1
1             U001  0200769623  ...               NAH4      1
2             U001  0200769623  ...               NAH4      1
3             CA02  0140104440  ...               CA10      1
4             U001  0200772595  ...               NAA8      1
...            ...         ...  ...                ...    ...
4524          U001  0200769623  ...               NAH4      1
4525          U001  0200353024  ...               NAM4      1
4526          U001  0200126819  ...               NAA8      1
4527          U001  0200769623  ...               NAH4      1
4528          U001  0200769623  ...               NAH4      1

[4529 rows x 15 columns]

In [39]:
#creating rest bigdata set
big_set=data_unique[data_unique.clear_date.notnull()].reset_index(drop=True)
big_set

      business_code cust_number  ... cust_payment_terms isOpen
0              U001  0200780383  ...               NAA8      0
1              U001  0200762301  ...               NAC6      0
2              U001  0200769623  ...               NAH4      0
3              U001   100053926  ...               NAVQ      0
4              U001  0200739534  ...               NAA8      0
...             ...         ...  ...                ...    ...
45459          CA02  0140104229  ...               CA10      0
45460          U001  0200792734  ...               NAGD      0
45461          CA02  0140106099  ...               CA10      0
45462          U001   200126819  ...               NAA8      0
45463          U001  0200742791  ...               NAA8      0

[45464 rows x 15 columns]

In [40]:
df1=big_set[big_set['document_create_date.1']>big_set['clear_date']] ##checking if create date.1 is after than clear date
df1

Empty DataFrame
Columns: [business_code, cust_number, name_customer, clear_date, buisness_year, doc_id, posting_date, document_create_date, document_create_date.1, due_in_date, invoice_currency, total_open_amount, baseline_create_date, cust_payment_terms, isOpen]
Index: []

In [41]:
#Finding min and max dates of create dat.1 of test case
min_dt_test=test_data['document_create_date.1'].min()
max_dt_test=test_data['document_create_date.1'].max()
print("Min create date 1",min_dt_test,"Max create date 1",max_dt_test)

Min create date 1 2020-02-27 00:00:00 Max create date 1 2020-05-25 00:00:00

In [42]:
#Finding min and max dates of create dat.1 of big_set
min_dt_big=big_set['document_create_date.1'].min()
max_dt_big=big_set['document_create_date.1'].max()
print("Min create date 1",min_dt_big,"Max create date 1",max_dt_big)

Min create date 1 2018-12-30 00:00:00 Max create date 1 2020-02-27 00:00:00

In [43]:
test_data.shape

(4529, 15)

In [44]:
###################splitting big_set to train set, val2, val1 based on document_create_date.1####################

In [45]:
#splitting to validation set 2
val2=big_set[big_set['document_create_date.1'] >= '2020-01-16'].copy()
val2.shape

(4344, 15)

In [46]:
val2.reset_index(drop=True)

     business_code cust_number  ... cust_payment_terms isOpen
0             U001  0200769623  ...               NAH4      0
1             U001  0200726979  ...               NAA8      0
2             U001  0200794332  ...               NAAX      0
3             U001  0200148860  ...               NAA8      0
4             U001  0200794332  ...               NAAX      0
...            ...         ...  ...                ...    ...
4339          U001  0200020431  ...               NAM2      0
4340          U001  0200762301  ...               NAC6      0
4341          U001      CCU013  ...               NAX2      0
4342          U001  0200762301  ...               NAC6      0
4343          CA02  0140104229  ...               CA10      0

[4344 rows x 15 columns]

In [47]:
#removing validation set 2 from big_set
big_set.drop(big_set[big_set['document_create_date.1'] >= '2020-01-16'].index, inplace = True)
big_set['document_create_date.1'].max()

Timestamp('2020-01-15 00:00:00')

In [48]:
#splitting rest big set to val1 and train set
val1=big_set[big_set['document_create_date.1'] >= '2019-12-05'].copy()
val1.shape

(2962, 15)

In [49]:
val1.reset_index(drop=True)

     business_code cust_number  ... cust_payment_terms isOpen
0             U002  0200806643  ...               NAG2      0
1             U001  0200769623  ...               NAH4      0
2             U001  0200769623  ...               NAH4      0
3             U001  0200744019  ...               NAA8      0
4             U001  0200700919  ...               NAA8      0
...            ...         ...  ...                ...    ...
2957          U001  0200744019  ...               NAA8      0
2958          U001  0200726979  ...               NAA8      0
2959          U001  0200705372  ...               NAA8      0
2960          U001  0200592182  ...               NAM4      0
2961          U001  0200705742  ...               NAD1      0

[2962 rows x 15 columns]

In [50]:
train_set=big_set[big_set['document_create_date.1'] < '2019-12-05'].copy()
train_set.shape

(38158, 15)

In [51]:
train_set.reset_index(drop=True)

      business_code cust_number  ... cust_payment_terms isOpen
0              U001  0200780383  ...               NAA8      0
1              U001  0200762301  ...               NAC6      0
2              U001   100053926  ...               NAVQ      0
3              U001  0200739534  ...               NAA8      0
4              U001  0200337148  ...               NAA8      0
...             ...         ...  ...                ...    ...
38153          U001  0200769623  ...               NAH4      0
38154          U001  0200792734  ...               NAGD      0
38155          CA02  0140106099  ...               CA10      0
38156          U001   200126819  ...               NAA8      0
38157          U001  0200742791  ...               NAA8      0

[38158 rows x 15 columns]

In [52]:
##############target label#################

In [53]:
train_set['target_delay']=(train_set['clear_date'] - train_set['due_in_date'])
train_set['target_delay']=train_set['target_delay'].dt.days

In [54]:
train_set.corr()

              target_delay
target_delay           1.0

In [55]:
train_set['target_delay'].describe()

count    38158.000000
mean         1.068714
std         11.109426
min        -81.000000
25%         -3.000000
50%          0.000000
75%          2.000000
max        212.000000
Name: target_delay, dtype: float64

In [56]:
#setting target_delay in val1 and  val2
val1['target_delay']=(val1['clear_date'] - val1['due_in_date'])
val1['target_delay']=val1['target_delay'].dt.days

val2['target_delay']=(val2['clear_date'] - val2['due_in_date'])
val2['target_delay']=val2['target_delay'].dt.days

In [57]:
###############################EDA and Feauture Engineering##########################

In [58]:
import seaborn as sns, numpy as np

In [59]:
########ENCODING STRING COLUMNS################

In [60]:
#encoding the train_set
train_set.dtypes

business_code                     object
cust_number                       object
name_customer                     object
clear_date                datetime64[ns]
buisness_year                     object
doc_id                            object
posting_date              datetime64[ns]
document_create_date      datetime64[ns]
document_create_date.1    datetime64[ns]
due_in_date               datetime64[ns]
invoice_currency                  object
total_open_amount                 object
baseline_create_date      datetime64[ns]
cust_payment_terms                object
isOpen                            object
target_delay                       int64
dtype: object

In [61]:
#converting to numerical columns

#1.Business code
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
train_set.groupby(['business_code']).count()

               cust_number  name_customer  ...  isOpen  target_delay
business_code                              ...
CA02                  3100           3100  ...    3100          3100
U001                 34393          34393  ...   34393         34393
U002                   140            140  ...     140           140
U005                    11             11  ...      11            11
U013                   514            514  ...     514           514

[5 rows x 15 columns]

In [62]:
#label encoding in business code
labelencoder = LabelEncoder()

train_set['business_code'] = labelencoder.fit_transform(train_set['business_code'])
test_data['business_code'] = labelencoder.transform(test_data['business_code'])

val1['business_code'] = labelencoder.transform(val1['business_code'])

val2['business_code'] = labelencoder.transform(val2['business_code'])

train_set

       business_code cust_number  ... isOpen target_delay
0                  1  0200780383  ...      0            0
1                  1  0200762301  ...      0            1
3                  1   100053926  ...      0            2
4                  1  0200739534  ...      0            4
5                  1  0200337148  ...      0            0
...              ...         ...  ...    ...          ...
45458              1  0200769623  ...      0           -3
45460              1  0200792734  ...      0           -1
45461              0  0140106099  ...      0            3
45462              1   200126819  ...      0            5
45463              1  0200742791  ...      0            4

[38158 rows x 16 columns]

In [63]:
train_set['business_code'].describe()

count    38158.000000
mean         0.963415
std          0.453831
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          4.000000
Name: business_code, dtype: float64

In [64]:
train_set['business_code'].corr(train_set['target_delay'])

-0.005484321398166932

In [65]:
#### checking for customer number
len(pd.unique(train_set['cust_number']))

1362

In [66]:
###business year is constant drop
train_set.drop(['buisness_year'],axis=1,inplace=True)

In [67]:
len(pd.unique(train_set['cust_payment_terms']))

71

In [68]:
#replace cust_payment_terms having values < 12 as others and then encoding
threshlold = 0.000250
   
    # locate all the categories that are not rare.
counts = train_set.groupby(['cust_payment_terms'])['cust_payment_terms'].count() / len(train_set)
counts_tst = test_data.groupby(['cust_payment_terms'])['cust_payment_terms'].count() / len(train_set)
counts_val1 = val1.groupby(['cust_payment_terms'])['cust_payment_terms'].count() / len(train_set)
counts_val2 = val2.groupby(['cust_payment_terms'])['cust_payment_terms'].count() / len(train_set)
frequent_labels = [x for x in counts.loc[counts>threshlold].index.values]
frequent_labels_tst = [x for x in counts_tst.loc[counts_tst>threshlold].index.values]
frequent_labels_val1 = [x for x in counts_val1.loc[counts_val1>threshlold].index.values]
frequent_labels_val2 = [x for x in counts_val2.loc[counts_val2>threshlold].index.values]
    # change the rare category names with the word rare, and thus encoding it.
train_set['cust_payment_terms'] = np.where(train_set['cust_payment_terms'].isin(frequent_labels), train_set['cust_payment_terms'], 'others')
test_data['cust_payment_terms'] = np.where(test_data['cust_payment_terms'].isin(frequent_labels_tst), test_data['cust_payment_terms'], 'others')
val1['cust_payment_terms'] = np.where(val1['cust_payment_terms'].isin(frequent_labels_val1), val1['cust_payment_terms'], 'others')
val2['cust_payment_terms'] = np.where(val2['cust_payment_terms'].isin(frequent_labels_val2), val2['cust_payment_terms'], 'others')


test_data['cust_payment_terms'].value_counts()

NAA8      1873
NAH4      1345
CA10       327
NAC6       192
NAM4       134
NAGD       131
NAAX        98
NAU5        97
NAM2        52
NAG2        43
others      40
NAD1        38
NA32        37
NA10        28
NAX2        23
NAD5        21
NAAW        20
NAM1        18
NAVE        12
Name: cust_payment_terms, dtype: int64

In [69]:
train_set['cust_payment_terms'] = labelencoder.fit_transform(train_set['cust_payment_terms'])
test_data['cust_payment_terms'] = labelencoder.transform(test_data['cust_payment_terms'])
val1['cust_payment_terms'] = labelencoder.transform(val1['cust_payment_terms'])
val2['cust_payment_terms'] = labelencoder.transform(val2['cust_payment_terms'])
train_set['cust_payment_terms'].max()

37

In [70]:
##Now similarly encoding name_customer
len(pd.unique(train_set['name_customer']))

3895

In [71]:
threshlold = 0.000100
####Grouping rare labels as others
counts = train_set.groupby(['name_customer'])['name_customer'].count() / len(train_set)
counts_tst = test_data.groupby(['name_customer'])['name_customer'].count() / len(train_set)
counts_val1 = val1.groupby(['name_customer'])['name_customer'].count() / len(train_set)
counts_val2 = val2.groupby(['name_customer'])['name_customer'].count() / len(train_set)
frequent_labels = [x for x in counts.loc[counts>threshlold].index.values]
frequent_labels_tst = [x for x in counts_tst.loc[counts_tst>threshlold].index.values]
frequent_labels_val1 = [x for x in counts_val1.loc[counts_val1>threshlold].index.values]
frequent_labels_val2 = [x for x in counts_val2.loc[counts_val2>threshlold].index.values]
    # change the rare category names with the word rare, and thus encoding it.
train_set['name_customer'] = np.where(train_set['name_customer'].isin(frequent_labels), train_set['name_customer'], 'others')
test_data['name_customer'] = np.where(test_data['name_customer'].isin(frequent_labels_tst), test_data['name_customer'], 'others')
val1['name_customer'] = np.where(val1['name_customer'].isin(frequent_labels_val1), val1['name_customer'], 'others')
val2['name_customer'] = np.where(val2['name_customer'].isin(frequent_labels_val2), val2['name_customer'], 'others')


test_data['name_customer'].value_counts()

others                1342
WAL-MAR in             127
WAL-MAR foundation     121
WAL-MAR systems        120
WAL-MAR trust          116
                      ...
DOT llc                  4
US  corp                 4
DECA associates          4
SAFEW corp               4
SAFEW co                 4
Name: name_customer, Length: 256, dtype: int64

In [72]:
train_set['name_customer'].value_counts()

others               3798
WAL-MAR corp          854
WAL-MAR co            837
WAL-MAR llc           827
WAL-MAR trust         819
                     ...
BAS co                  4
RICH                    4
BARGAIN  corp           4
ASSOCI associates       4
SCHNU foundation        4
Name: name_customer, Length: 1269, dtype: int64

In [73]:
#target encoding in name customer
target_mapper = train_set.groupby('name_customer')['target_delay'].mean().to_dict()
train_set['name_customer'] = train_set['name_customer'].map(target_mapper)
test_data['name_customer'] = test_data['name_customer'].map(target_mapper)
val1['name_customer'] = val1['name_customer'].map(target_mapper)
val2['name_customer'] = val2['name_customer'].map(target_mapper)
train_set

       business_code cust_number  ...  isOpen target_delay
0                  1  0200780383  ...       0            0
1                  1  0200762301  ...       0            1
3                  1   100053926  ...       0            2
4                  1  0200739534  ...       0            4
5                  1  0200337148  ...       0            0
...              ...         ...  ...     ...          ...
45458              1  0200769623  ...       0           -3
45460              1  0200792734  ...       0           -1
45461              0  0140106099  ...       0            3
45462              1   200126819  ...       0            5
45463              1  0200742791  ...       0            4

[38158 rows x 15 columns]

In [74]:
len(pd.unique(train_set['name_customer']))

734

In [75]:
train_set['name_customer'].corr(train_set['target_delay'])

0.5921522380097841

In [77]:
###similarly encoding cust_numbers
threshlold = 0.000250

# we loop over all the categorical variables

    
    # locate all the categories that are not rare.
counts = train_set.groupby(['cust_number'])['cust_number'].count() / len(train_set)
counts_tst = test_data.groupby(['cust_number'])['cust_number'].count() / len(train_set)
counts_val1 = val1.groupby(['cust_number'])['cust_number'].count() / len(train_set)
counts_val2 = val2.groupby(['cust_number'])['cust_number'].count() / len(train_set)
frequent_labels = [x for x in counts.loc[counts>threshlold].index.values]
frequent_labels_tst = [x for x in counts_tst.loc[counts_tst>threshlold].index.values]
frequent_labels_val1 = [x for x in counts_val1.loc[counts_val1>threshlold].index.values]
frequent_labels_val2 = [x for x in counts_val2.loc[counts_val2>threshlold].index.values]
    # change the rare category names with the word rare, and thus encoding it.
train_set['cust_number'] = np.where(train_set['cust_number'].isin(frequent_labels), train_set['cust_number'], 'others')
test_data['cust_number'] = np.where(test_data['cust_number'].isin(frequent_labels_tst), test_data['cust_number'], 'others')
val1['cust_number'] = np.where(val1['cust_number'].isin(frequent_labels_val1), val1['cust_number'], 'others')
val2['cust_number'] = np.where(val2['cust_number'].isin(frequent_labels_val2), val2['cust_number'], 'others')


test_data['cust_number'].value_counts()

0200769623    1135
others         935
0200762301     179
0200726979     159
0200744019     144
              ...
0200920735      10
0200466603      10
0200290370      10
0200714710      10
0200455322      10
Name: cust_number, Length: 81, dtype: int64

In [78]:
target_mapper = train_set.groupby('cust_number')['target_delay'].mean().to_dict()
train_set['cust_number'] = train_set['cust_number'].map(target_mapper)
test_data['cust_number'] = test_data['cust_number'].map(target_mapper)
val1['cust_number'] = val1['cust_number'].map(target_mapper)
val2['cust_number'] = val2['cust_number'].map(target_mapper)

In [79]:
train_set['cust_number'].corr(train_set['target_delay'])

0.591095241388198

In [80]:
train_set.dtypes

business_code                      int64
cust_number                      float64
name_customer                    float64
clear_date                datetime64[ns]
doc_id                            object
posting_date              datetime64[ns]
document_create_date      datetime64[ns]
document_create_date.1    datetime64[ns]
due_in_date               datetime64[ns]
invoice_currency                  object
total_open_amount                 object
baseline_create_date      datetime64[ns]
cust_payment_terms                 int64
isOpen                            object
target_delay                       int64
dtype: object

In [81]:
train_set['doc_id'].unique

<bound method Series.unique of 0        1.92986e+09
1        1.92979e+09
3        1.92952e+09
4        1.92946e+09
5        1.92948e+09
            ...
45458     1.9288e+09
45460    1.92977e+09
45461    2.96054e+09
45462    1.92865e+09
45463    1.92956e+09
Name: doc_id, Length: 38158, dtype: object>

In [82]:
train_set.shape #means doc_id is a unique value like primary key so we will not encode as it will not contribute in predicting

(38158, 15)

In [83]:
#encoding total_open_amount
train_set['total_open_amount']=train_set['total_open_amount'].astype(float)
test_data['total_open_amount']=test_data['total_open_amount'].astype(float)
val1['total_open_amount']=val1['total_open_amount'].astype(float)
val2['total_open_amount']=val2['total_open_amount'].astype(float)
train_set['total_open_amount']

0        51844.76
1        62110.39
3         1382.94
4        85407.27
5        47117.67
           ...
45458    10435.76
45460    11949.09
45461    27441.05
45462    13975.95
45463     4343.40
Name: total_open_amount, Length: 38158, dtype: float64

In [84]:
train_set['total_open_amount'].corr(train_set['target_delay'])

0.0025659655256575417

In [85]:
#target encoding on isOpen
target_mapper = train_set.groupby('isOpen')['target_delay'].mean().to_dict()
train_set['isOpen'] = train_set['isOpen'].map(target_mapper)
test_data['isOpen'] = test_data['isOpen'].map(target_mapper)
val1['isOpen'] = val1['isOpen'].map(target_mapper)
val2['isOpen'] = val2['isOpen'].map(target_mapper)
train_set['isOpen']

0        1.068714
1        1.068714
3        1.068714
4        1.068714
5        1.068714
           ...
45458    1.068714
45460    1.068714
45461    1.068714
45462    1.068714
45463    1.068714
Name: isOpen, Length: 38158, dtype: float64

In [86]:
train_set['isOpen'].corr(train_set['target_delay'])

nan

In [87]:
train_set.dtypes

business_code                      int64
cust_number                      float64
name_customer                    float64
clear_date                datetime64[ns]
doc_id                            object
posting_date              datetime64[ns]
document_create_date      datetime64[ns]
document_create_date.1    datetime64[ns]
due_in_date               datetime64[ns]
invoice_currency                  object
total_open_amount                float64
baseline_create_date      datetime64[ns]
cust_payment_terms                 int64
isOpen                           float64
target_delay                       int64
dtype: object

In [88]:
train_set['invoice_currency'].value_counts()

USD    35057
CAD     3101
Name: invoice_currency, dtype: int64

In [89]:
#label encoding invoice currency
target_mapper = train_set.groupby('invoice_currency')['target_delay'].mean().to_dict()
train_set['invoice_currency'] = train_set['invoice_currency'].map(target_mapper)
test_data['invoice_currency'] = test_data['invoice_currency'].map(target_mapper)
val1['invoice_currency'] = val1['invoice_currency'].map(target_mapper)
val2['invoice_currency'] = val2['invoice_currency'].map(target_mapper)

train_set

       business_code  cust_number  ...    isOpen target_delay
0                  1     1.529248  ...  1.068714            0
1                  1     0.043478  ...  1.068714            1
3                  1     2.436872  ...  1.068714            2
4                  1     0.678571  ...  1.068714            4
5                  1    -0.266667  ...  1.068714            0
...              ...          ...  ...       ...          ...
45458              1    -2.085551  ...  1.068714           -3
45460              1     1.800000  ...  1.068714           -1
45461              0     2.436872  ...  1.068714            3
45462              1     2.436872  ...  1.068714            5
45463              1    -1.307692  ...  1.068714            4

[38158 rows x 15 columns]

In [90]:
#creating month columns for all datetime type for caculating correlation

train_set['create_date_month']=train_set['document_create_date'].dt.month
train_set['create_date.1_month']=train_set['document_create_date.1'].dt.month
train_set['posting_date_month']=train_set['posting_date'].dt.month
train_set['baseline_create_date_month']=train_set['baseline_create_date'].dt.month
train_set['due_in_date_month']=train_set['due_in_date'].dt.month

train_set['create_date_quarter']=train_set['document_create_date'].dt.quarter
train_set['create_date.1_quarter']=train_set['document_create_date.1'].dt.quarter
train_set['posting_date_quarter']=train_set['posting_date'].dt.quarter
train_set['baseline_create_date_quarter']=train_set['baseline_create_date'].dt.quarter
train_set['due_in_date_quarter']=train_set['due_in_date'].dt.quarter

In [91]:
train_set.dtypes

business_code                            int64
cust_number                            float64
name_customer                          float64
clear_date                      datetime64[ns]
doc_id                                  object
posting_date                    datetime64[ns]
document_create_date            datetime64[ns]
document_create_date.1          datetime64[ns]
due_in_date                     datetime64[ns]
invoice_currency                       float64
total_open_amount                      float64
baseline_create_date            datetime64[ns]
cust_payment_terms                       int64
isOpen                                 float64
target_delay                             int64
create_date_month                        int64
create_date.1_month                      int64
posting_date_month                       int64
baseline_create_date_month               int64
due_in_date_month                        int64
create_date_quarter                      int64
create_date.1_quarter                    int64
posting_date_quarter                     int64
baseline_create_date_quarter             int64
due_in_date_quarter                      int64
dtype: object

In [ ]:
####GRAPHS######