In [20]:
import  numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
#reading dataset
data=pd.read_csv(r'C:\\Users\\hp\\Documents\\HRC pdf\\dataset.csv')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   buisness_year           50000 non-null  int64
 5   doc_id                  50000 non-null  int64
 6   posting_date            50000 non-null  object
 7   document_create_date    50000 non-null  int64
 8   document_create_date.1  50000 non-null  int64
 9   due_in_date             50000 non-null  int64
 10  invoice_currency        50000 non-null  object
 11  document type           50000 non-null  object
 12  posting_id              50000 non-null  int64
 13  area_business           0 non-null      float64
 14  total_open_amount       50000 non-null  float64
 15  baseline_create_date    50000 non-null  int64
 16  cust_payment_terms      50000 non-null  object
 17  invoice_id              49994 non-null  float64
 18  isOpen                  50000 non-null  int64
dtypes: float64(3), int64(8), object(8)
memory usage: 7.2+ MB

In [23]:
data.shape

(50000, 19)

In [24]:
len(pd.unique(data['posting_id'])) #constant

1

In [25]:
data.drop(columns=['posting_id'],inplace=True)#since constant column will not contribute so drop

In [26]:
#area_business have all null values so drop
data.drop(['area_business'],axis=1,inplace=True)

In [40]:
#invoice have some values null
data['invoice_id'].isnull().sum()

0

In [28]:
data.loc[data['invoice_id'].isnull()]#null values are not useful so drop

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
5095,CA02,140106054,TREE us,5/31/2019 0:00,2019,9500000107,3/29/2019,20190329,20190306,20190316,CAD,X2,1570.59,20190306,CA10,NaN,0
19450,CA02,100054351,UNF corp,5/2/2019 0:00,2019,9500000133,3/29/2019,20190329,20190314,20190324,CAD,X2,5964.00,20190314,CA10,NaN,0
30322,CA02,140104429,COSTCO systems,5/2/2019 0:00,2019,9500000019,3/29/2019,20190329,20190219,20190301,CAD,X2,5353.20,20190219,CA10,NaN,0
31009,CA02,140106054,TREE llc,5/6/2019 0:00,2019,9500000104,3/29/2019,20190329,20190208,20190218,CAD,X2,938.43,20190208,CA10,NaN,0
38443,CA02,140106054,TREE in,5/6/2019 0:00,2019,9500000129,3/29/2019,20190329,20190128,20190207,CAD,X2,12636.00,20190128,CA10,NaN,0
44500,CA02,140106054,TREE in,5/6/2019 0:00,2019,9500000101,3/29/2019,20190329,20190131,20190210,CAD,X2,216.80,20190131,CA10,NaN,0

In [41]:
#droping invoice value having the nan value 
data=data.dropna(axis=0, subset=['invoice_id'])

In [42]:
#checking invoice value now no null value is there
data['invoice_id'].isnull().sum()

0

In [31]:
for i in data.columns:
  print(i)

business_code
cust_number
name_customer
clear_date
buisness_year
doc_id
posting_date
document_create_date
document_create_date.1
due_in_date
invoice_currency
document type
total_open_amount
baseline_create_date
cust_payment_terms
invoice_id
isOpen

In [43]:
#checking duplicate rows:
data.duplicated().sum()

1161

In [44]:
#checking duplicate columns:
data_t = data.T
data_t.duplicated().sum()

1

In [34]:
#displaying duplicated column
data_t[data_t.duplicated()]

,0,1,2,3,4,5,6,7,8,9,...,49990,49991,49992,49993,49994,49995,49996,49997,49998,49999
invoice_id,1930438491.0,1929646410.0,1929873765.0,2960623488.0,1930147974.0,2960581231.0,1930083373.0,1930659387.0,1929439637.0,1928819386.0,...,1929365364.0,1930001131.0,1930702251.0,1930377837.0,1929600989.0,1930797071.0,1929744070.0,1930536775.0,1930198546.0,1928576325.0

In [35]:
#no of rows before removing duplicated columns is 17
dt=data_t.T
dt.shape

(49994, 17)

In [45]:

#after removing duplicate column, 16 columns
data_unique = data_t.drop_duplicates(keep='first').T
data_unique.shape

(49994, 16)

In [46]:
#once again checking duplicated rows(of the transpose)
data_uni=data_unique.T
data_uni.duplicated().sum()

0

In [47]:
data_unique

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,isOpen
0,U001,200769623,WAL-MAR corp,2/11/2020 0:00,2020,1930438491,1/26/2020,20200125,20200126,20200210,USD,RV,54273.28,20200126,NAH4,0
1,U001,200980828,BEN E,8/8/2019 0:00,2019,1929646410,7/22/2019,20190722,20190722,20190811,USD,RV,79656.6,20190722,NAD1,0
2,U001,200792734,MDV/ trust,12/30/2019 0:00,2019,1929873765,9/14/2019,20190914,20190914,20190929,USD,RV,2253.86,20190914,NAA8,0
3,CA02,140105686,SYSC llc,NaN,2020,2960623488,3/30/2020,20200330,20200330,20200410,CAD,RV,3299.7,20200331,CA10,1
4,U001,200769623,WAL-MAR foundation,11/25/2019 0:00,2019,1930147974,11/13/2019,20191113,20191113,20191128,USD,RV,33133.29,20191113,NAH4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,200561861,CO corporation,NaN,2020,1930797071,4/21/2020,20200417,20200421,20200506,USD,RV,3187.86,20200421,NAA8,1
49996,U001,200769623,WAL-MAR co,9/3/2019 0:00,2019,1929744070,8/15/2019,20190814,20190815,20190830,USD,RV,6766.54,20190815,NAH4,0
49997,U001,200772595,SAFEW associates,3/5/2020 0:00,2020,1930536775,2/19/2020,20200218,20200219,20200305,USD,RV,6120.86,20200219,NAA8,0
49998,U001,200726979,BJ'S llc,12/12/2019 0:00,2019,1930198546,11/27/2019,20191126,20191127,20191212,USD,RV,63.48,20191127,NAA8,0
49999,U001,200020431,DEC corp,1/15/2019 0:00,2019,1928576325,1/5/2019,20190105,20190105,20190124,USD,RV,1790.3,20190101,NAM4,0

In [48]:
#document type is constant
len(pd.unique(data_unique['document type']))

1